NEXT_PUBLIC_BASE_URL=YOUR_FRONT_SERVER_URL
NEXT_PUBLIC_API_BASE_URL=YOUR_API_SERVER_URL
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_SECRET=YOUR_GOOGLE_SECRET
KAKAO_CLIENT_ID=YOUR_KAKAO_CLIENT_ID
KAKAO_CLIENT_SECRET=YOUR_KAKAO_CLIENT_SECRET
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET
NEXTAUTH_URL=YOUR_FRONT_SERVER_URL